<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>test01</title>
		
		<!-- Bootstrap -->
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		
		<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    	<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
		<!--[if lt IE 9]>
	      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<button id="btnSubmitJsonObj" type="button" class="btn btn-primary btn-lg">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 测试
					</button>
				</div>
			</div>
		</div>
		
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    
	    <script type="text/javascript">
	    //<![CDATA[
	    	$(function() {
	    		var data = {};
	    		data['sellNo'] = 2002;
	    		data['userNo'] = '1001';
	    		data['user.userId'] = 2002;
	    		data['user.userName'] = 'suncht';
	    		data['user.phone'] = '1850111111';
	    		data['user.email'] = 'xxxxxxx@163.com';
	    		
	    		data['orders[0].orderId'] = '1212';
	    		data['orders[0].userId'] = '1001';
	    		data['orders[0].placeTime'] = '2018-06-07 10:10:10';
	    		data['orders[0].productions[0].skuId'] = '120123134';
	    		data['orders[0].productions[0].proId'] = '32113';
	    		data['orders[0].productions[0].name'] = 'JAVA教程';
	    		data['orders[0].productions[0].price'] = 64.5;
	    		data['orders[0].productions[0].number'] = 1;
	    		data['orders[0].productions[1].skuId'] = '123324';
	    		data['orders[0].productions[1].proId'] = '63452';
	    		data['orders[0].productions[1].name'] = 'SpringBoot教程';
	    		data['orders[0].productions[1].price'] = 54.5;
	    		data['orders[0].productions[1].number'] = 2;
	    		
	    		data['orders[1].orderId'] = '245';
	    		data['orders[1].userId'] = '1001';
	    		data['orders[1].placeTime'] = '2018-05-07 10:10:10';
	    		data['orders[1].productions[0].skuId'] = '1234';
	    		data['orders[1].productions[0].proId'] = '76243';
	    		data['orders[1].productions[0].name'] = '加湿器';
	    		data['orders[1].productions[0].price'] = 70.3;
	    		data['orders[1].productions[0].number'] = 1;
	    		data['orders[1].productions[1].skuId'] = '5345';
	    		data['orders[1].productions[1].proId'] = '1345';
	    		data['orders[1].productions[1].name'] = '车载导航仪';
	    		data['orders[1].productions[1].price'] = 254.5;
	    		data['orders[1].productions[1].number'] = 1;
	    		
	    		
	    		$('#btnSubmitJsonObj').on('click', function() {
	    			$.ajax({
					  	type: 'POST',
					  	url: '/json/submit01',
					  	data: data,
					  	success: function(data) {
					  		if(data && data.code == 1) {
					  			alert('提交成功')
					  		} else {
					  			alert(data.msg);
					  		}
					  	},
					  	dataType: 'json'  //返回的数据格式：json/xml/html/script/jsonp/text
    				});
	    		});
	    	});
	    //]]>
	    </script>
	</body>
</html>