@CHARSET "UTF-8";
.c-cbx{

}
.c-cbx-extended .c-trg-btn{
	border-left-color: rgba(15, 166, 237, 0.6);
	background-color: rgba(15, 166, 237, 0.05);
	color : rgb(15, 166, 237);
}
.c-cbx-opbox{
	position: absolute;
	z-index: 900001;
}
.c-cbx-opwarp{
	width : 100%;
	min-width : 3rem;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(1, 165, 175);
	padding : 0.1rem;
	border-radius : 2px;
	background-color: #FFF;
	max-height: 12rem;
	overflow: auto;
}
.c-fd-sm .c-cbx-opwarp{
	max-height: 10rem;
}
.c-cbx-op-item{
	width : 100%;
	height: 1.2rem;
	margin-top : 0.1rem;
	margin-bottom : 0.1rem;
	line-height: 1.2rem;
	padding-left : 0.5rem;
	padding-right: 0.5rem;
	overflow: hidden;
	font-size : 0.6rem;
	border-color: transparent;
	border-width: 0px;
	border-style: solid;
	border-radius : 1px;
	word-spacing: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	cursor: pointer;
	transition : 0.25s ease;
}
.c-fd-sm .c-cbx-op-item{
	height: 1rem;
	line-height: 1rem;
	margin-top : 0.05rem;
	margin-bottom : 0.05rem;
	font-size : 0.5rem;
}
.c-cbx-op-item:hover{
	background-color: #E5F4FE;
}
.c-cbx-op-item-active,
.c-cbx-op-item-active:hover{
	background-color : #27a6fa;
	color : #FFF;
}