@CHARSET "UTF-8";
.c-datefield-listwarp{
	position: absolute;
	z-index: 900100;
}

.c-datefield-extended .c-trg-btn{
	border-left-color: rgba(15, 166, 237, 0.6);
	background-color: rgba(15, 166, 237, 0.05);
	color : rgb(15, 166, 237);
}