<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="/public/font-awesome/font-awesome.min.css"
          type="text/css" rel="stylesheet"/>

    <!-- 基础组件库 -->
    <script type="text/javascript"
            src="/common/v3/cmps/core/dist/cmp-core.js"
            main-js="../cp/js/order.js" ></script>

    <link href="http://www.360buy.com/favicon.ico" rel="shortcut icon" />
    <title>数字仓库</title>
</head>
<body>
</body>
</html>