<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="/resource/public/font-awesome/font-awesome.min.css"
          type="text/css" rel="stylesheet"/>
          
    <!-- <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js" ></script> -->

    <!-- 基础组件库 -->
    <script type="text/javascript"
            src="/resource/common/v3/cmps/core/dist/cmp-core-v1.01.js"
            main-js="/resource/cp/js/simple.js"
            use-min="true"
             ></script>

    <link href="http://www.360buy.com/favicon.ico" rel="shortcut icon" />
    <title>数字仓库</title>
</head>
<body>
</body>
</html>