@CHARSET "UTF-8";
.app-logo{
	position: relative;
	
	background-image: url("../img/logo-201305.png");
	background-size : auto 100%;
	background-repeat : no-repeat;
	background-position : center center;
	min-height: 40px!important;
	
	width: 270px;
	height: 60px;
}